@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Martel:wght@900&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  width: 70vw;
  min-width: 640px;
  padding: 5vh 8vw;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  color: #333;
}

.hoverimg {
  width: 300px;
  position: relative;
  z-index: 0;
  opacity: 0;
  transition: 0.2s;
  visibility: 'hidden';
  margin: 2vmin 0;
}

.section2 {
  display: flex;
  align-items: start;
  height: 30vh;
}

.me {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  font-family: 'Heebo', sans-serif;
  width: fit-content;
}


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}

.metext {
  @extend .noselect;
  margin: 0;
  line-height: 1.3;
  font-size: 3rem;
  margin-left: auto;
  text-align: right;
  width: fit-content;
  font-family: 'Martel', serif;
}

.metext:hover ~ img.hoverimg {
  visibility: 'visible';
  opacity: 0.8;
  transform: scale(1.05);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.sectiontitle {
  @extend .noselect;
  margin: 0;
  line-height: 1;
  font-size: 5rem;
  transition: 0.1s;
  width: fit-content;
}

.sectiontitle:hover {
  letter-spacing: 0.4vw;
  text-decoration: underline dotted #444;
}

.sectiontitle:hover ~ .sectiontitle {
  font-size: 4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
