@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
  background-color: #f5f5f5;
  max-width: 100vw;
  z-index: 0;
}

.container ul {
  list-style-type: disc;
  margin: 0;
}

.main {
  min-height: 100vh;
  padding: 6vh 4vw;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.splitter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem 5rem;
}

.splitter h1 {
  font-size: 1.7rem;
}

.part {
  text-align: justify;
  flex-flow: row wrap;
  padding: 1.5rem;
}

.part ul {
  padding-left: 1.2rem;
}

.part2 {
  max-width: 33rem;
  @extend .part;
}

.part3 {
  max-width: 22rem;
  @extend .part;
}

#previous ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#previous li {
  margin-bottom: 1.5rem;
}

#previous h4 {
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
}

#previous h3 {
  margin: 0;
}

#about ul {
  padding: 0 1.5rem;
}

#about h4 {
  font-weight: 500;
  margin: 0;
  padding: 0;
  transition: 0.1s;
}

#about h4:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transform-origin: 0 0;
  text-decoration: underline;
}

#about p {
  font-size: 0.85rem;
  margin: 0.2rem 0 0.4rem 0;
}

#previous p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  @extend .noselect;
}

#skills {
  margin-top: 3vh;
}

#skills b {
  font-weight: 600;
}

#languages {
  @extend .nowrap;
}

@media screen and (max-width: 1250px) {
  .part2 {
    max-width: 70vw;
  }
  
  #hider {
    display: none;
  }
}

// helper
.nowrap {
  white-space: nowrap;
  overflow: hidden !important;
}

.me {
  margin-left: 60vw;
  width: fit-content;
  padding: 2vh;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 2.5vw;
  letter-spacing: 0.1vw;
  color:  #282828;
  @extend .nowrap;
  z-index: 1;
}

.bebas {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 8vw;
  line-height: 8vw;
}

.catalogs {
  margin-top: 15vh;
}

.catalog {
  position: relative;
  margin-top: 2vh;
  @extend .nowrap;
  @extend .noselect;
}

.catalog li {
  display: inline-block;
}

.catalog ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalogName {
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 3.5vw;
  animation: move 90s linear infinite;
  @extend .nowrap;
}

.catalogName2 {
  @extend .catalogName;
  position: relative;
  display: inline-block;
  animation-delay: 45s;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.catalogName > li {
  margin-right: 7rem;
}

.catalogName li:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.catalog:hover {
  color: rgb(221, 0, 0);
}

.catalogWords {
  font-family: 'Bitter', serif;
  font-weight: 200;
  font-size: 1.8vw;
  letter-spacing: -0.06vw;
  transform: translateX(-2%);
}

.catalogWords > li {
  margin-right: 10vw;
}

.catalogWords li:hover {
  transform: scale(0.95);
  transition: 0.1s;
}

.header {
  min-height: 10vh;
}

.hoverimg {
  width: 300px;
  position: relative;
  z-index: 0;
  opacity: 0;
  transition: 0.2s;
  visibility: 'hidden';
  margin: 2vmin 0;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}

.blob {
  position: absolute;
  background: linear-gradient(.25turn, #f5f5f5, 20%, #fff);
  margin-top: 10vh;
  margin-left: 8vw;
  height: 90vh;
  width: 32vw;
  z-index: 0;
}